<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FenergoEntities" connectionString="metadata=res://*/FenergoModel.csdl|res://*/FenergoModel.ssdl|res://*/FenergoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPSM050000128\TFM_MAIN1_UAT;initial catalog=Fenergo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TfmModel.csdl|res://*/TfmModel.ssdl|res://*/TfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPSM050000128\TFM_MAIN1_UAT;initial catalog=TFM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>