<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Visual Studio 2013\Projects\TMSAccountPurge\Logs\TmsAccountPurge.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- DEV -->
    <!--<add name="TFM" connectionString="Data Source=LDNDSM050000678\TFM_MAIN1_DEV;Initial Catalog=TFM;Integrated Security=True"/>
    <add name="TFM_DC" connectionString="Data Source=LDNDSM050000678\TFM_MAIN1_DEV;Initial Catalog=TFM_DC;Integrated Security=True"/>
    <add name="FENERGO" connectionString="Data Source=LDNDSM050000678\TFM_MAIN1_DEV;Initial Catalog=Fenergo;Integrated Security=True"/>
    <add name="FenergoEntities" connectionString="metadata=res://*/FenergoModel.csdl|res://*/FenergoModel.ssdl|res://*/FenergoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNDSM050000678\TFM_MAIN1_DEV;initial catalog=Fenergo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TfmModel.csdl|res://*/TfmModel.ssdl|res://*/TfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNDSM050000678\TFM_MAIN1_DEV;initial catalog=TFM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- UAT -->
    <add name="TFM" connectionString="Data Source=LDNPSM050000128\TFM_MAIN1_UAT;Initial Catalog=TFM;Integrated Security=True"/>
    <add name="TFM_DC" connectionString="Data Source=LDNPSM050000128\TFM_MAIN1_UAT;Initial Catalog=TFM_DC;Integrated Security=True"/>
    <add name="FENERGO" connectionString="Data Source=LDNPSM050000128\TFM_MAIN1_UAT;Initial Catalog=Fenergo;Integrated Security=True"/>
    <add name="FenergoEntities" connectionString="metadata=res://*/FenergoModel.csdl|res://*/FenergoModel.ssdl|res://*/FenergoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPSM050000128\TFM_MAIN1_UAT;initial catalog=Fenergo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TfmModel.csdl|res://*/TfmModel.ssdl|res://*/TfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPSM050000128\TFM_MAIN1_UAT;initial catalog=TFM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- PROD -->
    <!--<add name="TFM" connectionString="Data Source=LDNPCM05079V05A\TFM_MAIN1_LIVE;Initial Catalog=TFM;Integrated Security=True"/>
    <add name="TFM_DC" connectionString="Data Source=LDNPCM05079V05A\TFM_MAIN1_LIVE;Initial Catalog=TFM_DC;Integrated Security=True"/>
    <add name="FENERGO" connectionString="Data Source=LDNPCM05079V05A\TFM_MAIN1_LIVE;Initial Catalog=Fenergo;Integrated Security=True"/>
    <add name="FenergoEntities" connectionString="metadata=res://*/FenergoModel.csdl|res://*/FenergoModel.ssdl|res://*/FenergoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPCM05079V05A\TFM_MAIN1_LIVE;initial catalog=Fenergo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TfmModel.csdl|res://*/TfmModel.ssdl|res://*/TfmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LDNPCM05079V05A\TFM_MAIN1_LIVE;initial catalog=TFM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="PurgeBlockSize" value="500"/>
    <add key="ReadTmsAccounts" value="true"/>
    <add key="PurgeTmsAccounts" value="true"/>
    <add key="ProcessIncomingMessages" value="true"/>
    <add key="MarkIncomingMessages" value="true"/>
    <add key="ArchivePurgeCriteria" value="true"/>
    <add key="TruncateTmsPurgeCriteria" value="true"/>

    <add key="AccountMessage" value="BC.MSD.Account"/>
    <add key="BeforeStatus" value="O"/>
    <add key="AfterStatus" value="P"/>
    <add key="UpdatedBy" value="Purge"/>

    <add key="NewMessage" value="1"/>
    <add key="NotProcessed" value="7"/>

    <add key="AccountPurgeFile" value="C:\Visual Studio 2013\Projects\TMSAccountPurge\PURGE_ACCT_2015.txt"/>

    <add key="TruncateTable" value="true"/>

    <add key="CpiTmsAccountPurgeDbTable" value="SDS.CpiTmsAccountPurge" />
    <add key="CpiTmsAccountMsgIdsDbTable" value="SDS.CpiTmsAccountMsgIds" />

    <add key="PurgeTmsAccountsSP" value="dbo.PurgeTmsAccounts"/>
    <add key="MarkIncomingMessagesSP" value="dbo.SetIncomingMessageStatusIds"/>
    <add key="CommandTimeout" value="5000"/>
  </appSettings>
</configuration>